*{
    margin 0;
    padding: 0;
    box-sizing: boarder-box;
}

a{
    color: inherit;
    text-decoration: none;
}

#mainBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headBox{
    list-style-type: none;
    height: 12vh;
    display: flex;
    align-items: center;
}

#logo{
    height: 10vh;
    margin-right: 20px;
}

#head{
    font-size: 9vh;
}

.icon{
    height: 6vh;
    margin: 8px;
}