*{
    margin 0;
    padding: 0;
    box-sizing: boarder-box;
}

a{
    color: inherit;
    text-decoration: none;
}

/* HEADER STYLING */
#header{
    display: flex;
    justify-content: space-between;
    height: 11vh;
    background-color: white;
}

#headLeft{
    display: flex;
    justify-content: flex-start;
}

#logo{
    height: 9vh;
    margin-left: 1vw;
    margin-right: 2vw;
}

.title{
    font-size: 9vh;
    margin-top: -2.5vh;
}

#headRight{
    display: flex;
    justify-content: flex-end;
}

.icon{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    height: 9vh;
}

#ham{
    display: none;
}



/* CARD STYLING */
/* main card styling in media */

.cardImage{
    width: 100%;
    border-bottom: 0.5vw solid black;
}

.cardContent{
    width: 100%;
}

.cardTitle{
    font-size: 3vw;
    margin: 1vw;
}

.cardPrice{
    font-size: 3vw;
    margin: 1vw;
}


/* TOOLS */

.sticky{
    position: sticky;
    top: 0;
}

/* MEDIA QUERIES */

@media(orientation: landscape){
    .card{
        border: 0.5vw solid black;
        width: 30%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-right: 1%;
        margin-left: 1%;
    }

    #scrollBox{
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
}

@media(orientation: portrait){
    .card{
        border: 0.5vw solid black;
        width: 100%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-right: auto;
        margin-left: auto;
    }

    #scrollBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    body{
        display: grid;
        justify-content: center;
    }
}