<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div id="header" class="sticky">
        <nav id="logoBox">
            <ul id="headBox">
                <li><img src="/static/Images/Logo Simple.png" id="logo" alt="LOGO"></li>
                <li><span class="head">Compass</span></li>
                <li><span class="head">Master</span></li>
            </ul>
        </nav>

        <nav id="linkBox">
            <ul id="navLinks">
                <li><a href="mailto:compassmaster360@gmail.com">
                    <img class="icon" src="/static/Images/Icons/mail.png" alt="E-MAIL">
                </a></li>
                <li><a href="https://www.linkedin.com/in/keegan-pullen">
                    <img class="icon" src="/static/Images/Icons/LinkedIn.png" alt="LINKEDIN">
                </a></li>
                <li><a href="https://github.com/FLUVIS">
                    <img class="icon" src="/static/Images/Icons/GitHub.png">
                </a></li>
                <li><a href="/static/help.html">
                    <img class="icon" src="/static/Images/Icons/help.png" alt="HELP">
                </a></li>
            </ul>

            <div class="ham">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
    {% block scrollBox %}
    {% endblock %}

</body>
</html>