<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div id="header" class="sticky">
        <div id="headLeft">
            <a href="/"><img id="logo" src="/static/Images/Logo Simple.png" alt="Logo?"></a>
            <span class="title">Compass</span>
            <span class="title">Master</span>
        </div>
        <div id="headRight">
            <a href="mailto:compassmaster360@gmail.com">
                <img class="icon" src="/static/Images/Icons/mail.png" alt="e-mail">
            </a>
            <a href="https://www.linkedin.com/in/keegan-pullen">
                <img class="icon" src="/static/Images/Icons/LinkedIn.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/FLUVIS">
                <img class="icon" src="/static/Images/Icons/GitHub.png" alt="GitHub">
            </a>
            <a href="/help">
                <img class="icon" src="/static/Images/Icons/help.png" alt="help">
            </a>
        </div>
    </div>
    <div id="ham">

    </div>
    {% block scrollBox %}
    {% endblock %}

</body>
</html>