<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul id="headBox">
            <li><img src="/static/Images/Logo Simple.jpg" id="logo" alt="LOGO"></li>
            <li><span id="head">Compass Master</span></li>
            <li id="mail"><a href="mailto:compassmaster360@gmail.com">
                <img src="/static/Images/Icons/mail.png" alt="E-MAIL">
            </a></li>
            <li id="linkedin"><a href="https://www.linkedin.com/in/keegan-pullen">
                <img src="/static/Images/Icons/LinkedIn.png" alt="LINKEDIN">
            </a></li>
            <li id="github"><a href="https://github.com/FLUVIS">
                <img src="/static/Images/Icons/GitHub.png">
            </a></li>
            <li id="help"><a href="/static/help.html">
                <img src="/static/Images/Icons/help.png" alt="HELP">
            </a></li>
        </ul>
    </nav>

</body>
</html>