{% extends "home.html" %}
{% block scrollBox %}
<div class="shoppingWindow" id="shopWindow">
  <img src="/static/Images/CardImages/81/1.jpg" alt="...oops..." id="shopImg">
  <span id="close">X</span>
</div>

<div id="scrollBox">
  {% for a in art %}
  <div class="card">
    <img class="cardImage" src="/static/Images/CardImages/{{ a[0] }}/1.jpg" alt="oops">
    <p class="cardTitle">{{ a[0] }}</p>
    <p class="cardPrice">${{ a[1] }}-${{ a[2] }}</p>
  </div>
  {% endfor %}
  <div class="splinter"></div>

</div>
<script src="/static/cardCode.js"></script>
{% endblock %}